.hero {
  position: relative;
  height: 90vh;
  // overflow: hidden;

  &__video {
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      filter: brightness(1);
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba($black, 0.25) 50%, $black 85%);
  }

  &__outer-wrap {
    position: relative;
    z-index: 2;
    border: 3px solid $black;
    margin: 0 1rem;
  }

  &__inner-wrap {
    background: rgba(255, 255, 255, 0.7);
    margin: 3px;
    padding: 10px 40px;
    overflow: hidden;
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__content {
    position: absolute; 
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -100px;
    padding: $ic-200;
    width: 800px;
    background-color: rgba($white, .7);

    h2 {
      max-width: 650px;
    }
  }

  &__content-inner {
    border: 1px solid $light-gray;
    padding: $ic-200;
  }

  // .arrow-down {
  //   fill: $light-gray;
  //   stroke: $light-gray;
  //   stroke-width: 0;
  //   position: absolute;
  //   z-index: 1;
  //   bottom: $ic-200;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   height: $ic-300;
  //   width: $ic-300;
  // }

  &__controls,
  &__controls-inner {
    border-radius: 50%;
    display: grid; 
    place-items: center;
  }

  &__controls {
    position: absolute;
    bottom: $ic-200;
    right: $ic-200;
    height: $ic-600;
    width: $ic-600;
    border: none;
    background-color: rgba($primary-color, .5);
  }

  &__controls-inner {
    height: $ic-500;
    width: $ic-500;
    position: relative;
    left: -1px;
  }
}

.video-playing {
  .play-icon {
    display: none;
  }

  .pause-icon {
    display: block;
  }
}

.video-paused {
  .play-icon {
    display: block;
  }

  .pause-icon {
    display: none;
  }
}

.hero-not-found {
  background-image: url("https://baileysharborinn.imgix.net/uploads/lawn-care-services-appleton-wi-9.jpg?auto=format&width=1280&height=480&q=10");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-hero,
.location-hero,
.contact-hero,
.page-404-page-not-found {
  .btn-primary {
    display: none;
  }
}