.hero-not-found {
    background-image: url("https://baileysharborinn.imgix.net/uploads/baileys-harbor-schoolhouse-inn-front-exterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}