// .page-about {
//     // .cta-wrapper {
//     //     margin-top: clamp($ic-500, 10%, $ic-1000);
//     // }

//     .intro {
//         text-align: center;

//         p {
//             max-width: 600px;
//             margin: 0 auto;
//         }
//     }
// }

.page-our-philosophy {
    .intro {
        text-align: center;

        .separator--fence {
            display: none;
        }

        p {
            max-width: 600px;
            margin: $ic-200 auto;
        }
    }
}