.contact {
  .w-60-m + .w-40-m {
    margin-top: $ic-400;

    @include breakpoint(md) {
      margin-left: $ic-400;
      margin-top: 0;
    }
  }
}

.contact-form {
  background-color: $black;

  &__inner {
    border: 1px solid $white;
    padding: $ic-200;
  }

  &__wrapper {
    padding: $ic-200;

    @include breakpoint(lg) {
      padding: $ic-300 $ic-600;
    }

    @include breakpoint(xl) {
      padding: $ic-600;
    }
  }

  &__netlify-bot-field {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  &__row-wrapper {
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
      flex-direction: row;

      .contact-form__form-group {
        flex: 50%;
      }

      .contact-form__form-group:nth-of-type(2) {
        padding-left: 1rem;
      }
    }
  }

  &__form-group label {
    flex: 0 0 25%;
    font-size: $ic-200;
    font-weight: 700;
    color: $white;
  }

  .contact-form__form-group input,
  .contact-form__form-group textarea,
  .contact-form__form-group select {
    background-color: $black;
    color: $light-gray;
    width: 100%;
    padding: $ic-100 $ic-200;
    margin-bottom: $ic-100;
    flex: 1 1 75%;
    border: none;
    height: $ic-700;

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  .radio {
    align-items: center;

    input {
      width: auto;
      margin-bottom: 0;
      margin-right: $ic-200;
    }
  }

  .contact-form__form-group textarea {
    height: $ic-900;
  }
}

.contact-sidebar {
  iframe {
    height: 350px;
  }
}
