.rooms {

    .room-specs {
      svg {
        position: relative;
        top: 3px;
        height: $ic-200;
        width: $ic-200;
        fill: $primary-color;
      }
    }
  
    &__image-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: $ic-200;
    }
  
    img {
      height: 100%;
      object-fit: cover;
    }
  
    img:nth-of-type(1) {
      grid-area: 1 / 1 / 3 / 3;
    }
  
    img:nth-of-type(2) {
      grid-area: 1 / 3 / 2 / 4;
    }
  
    img:nth-of-type(3) {
      grid-area: 2 / 3 / 3 / 4;
    }
  
    @include breakpoint(md) {
      .flex-row-m .w-30-m {
        margin-left: $ic-200;
      }
  
      .flex-row-reverse-m .w-70-m {
        margin-left: $ic-200;
      }
    }
  
    .room + .room {
      margin-top: clamp($ic-500, 10%, $ic-1000);
    }
  }
  
  .page-garden {
    .amenities__grid {
      div:nth-of-type(6) {
        display: none;
      }
    }
  }
  
.page-homestead,
.page-lighthouse,
.page-upper-deck,
.page-principals-office,
.page-library,
.page-garden {
.testimonials {
    padding-top: 0;
}
}
  
.page-lighthouse {
.swiper-slide {
    height: 100%;
}
}

.page-principals-office {
   .swiper-slide {
       height: 550px;
   } 
}