<div class="contact-sidebar">
  <div class="contact-info flow">
    <h2 class="h3">{{ .Site.Data.site_settings.business_name }}</h2>
    <p class="icon flex flex-center">
      {{ partialCached "svg-icons/map-pin.svg" . }}
      <a href="https://goo.gl/maps/oJPdvij13upbyZtq9" target="_blank" rel="noreferrer">{{ .Site.Data.site_settings.address.street }}
      {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}</a>
    </p>
    <p class="icon flex flex-center">
      {{ partialCached "svg-icons/phone.svg" . }}
      <a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a>
    </p>
    <p class="icon flex flex-center">
      {{ partialCached "svg-icons/email.svg" . }}
      <a href="mailto:{{ .Site.Data.site_settings.email }}">Email Us</a>
    </p>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe title="Baileys Harbor Schoolhouse Inn on Google Maps" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Baileys%20Harbor%20Schoolhouse%20Inn&t=&z=18&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
</div>