<form name="contact" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field" action="/thank-you/">
    <div hidden>
        <label for="bot-field-2">
        Don’t fill this out if you're human: 
        <input name="bot-field" id="bot-field-2" />
        </label>
    </div>
    <div class="visually-hidden">
        <label for="subject">New form submission from the baileysharborinn.com website contact form</label>
        <input aria-label="subject" name="subject" value="New form submission from the baileysharborinn.com website contact form" />
      </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
            <label for="name">Name*</label>
            <input name="name" id="name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
            <label for="email">Email*</label>
            <input name="_replyto" id="email" type="email" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
            <label for="phone">Phone*</label>
            <input name="phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-group">
        <label for="contact_preference">How do you prefer we get back to you?*</label>
        <select name="contact_preference" id="contact_preference" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Phone">Phone</option>
            <option value="Text">Text</option>
            <option value="Email">Email</option>
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="new_customer">Specific room you're interested in?*</label>
        <select name="new_customer" id="new_customer" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Homestead">Homestead</option>
            <option value="Lighthouse">Lighthouse</option>
            <option value="Upper Deck">Upper Deck</option>
            <option value="Principal's Office">Principal's Office</option>
            <option value="Library">Library</option>
            <option value="Garden">Garden</option>
            <option value="No Preference">No Preference</option>
        </select>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="travelers">Number of people staying*</label>
                <input name="travelers" id="travelers" type="number" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="beds">Number of beds needed*</label>
                <input name="beds" id="beds" type="number" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
            <label for="check_in">Check In*</label>
            <input name="check_in" id="check_in" type="date" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
            <label for="check_out">Check Out*</label>
            <input name="check_out" id="check_out" type="date" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-group">
        <label for="message">Message*</label>
        <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <div style="margin-bottom: 1em;" data-netlify-recaptcha="true"></div>
    <button type="submit" class="contact-form__btn btn btn-primary">Send Request</button>
</form>