<!-- <section aria-labelledby="intro-heading" class="intro block bg-white footprints footprints--right"> -->
<section aria-labelledby="intro-heading" class="intro block bg-white">
  <div class="wrapper-lg flex flex-column flex-row-m">
   <div class="w-100 w-50-m flow">
    {{ if .Params.intro.enabled }}
      {{ with .Params.intro }} 
        {{ if .heading }}
          <h2 id="intro-heading">{{ .heading }}</h2>
          <img src="/uploads/fence-separator.svg" alt="" class="separator--fence" width="300" height="27">
        {{ end }} 
        {{ if .body }}
          {{ .body | safeHTML }}
        {{ end }} 
        {{ if .button.enabled }}
          <a href="{{ .button.button_url }}" class="btn btn-primary">{{ .button.button_text }}</a>
        {{ end }} 
        {{ if .button_2.enabled }}
          <a href="{{ .button_2.button_url }}" class="btn btn-primary mt-3 mt-0-m ml-3">{{ .button_2.button_text }}</a>
        {{ end }} 
      {{ end }}
    {{ end }}
   </div>
   <div class="w-100 w-50-m mt-6 mt-0-m ml-3">
    {{ if .Params.intro.image.enabled }}
      {{ with .Params.intro.image }}
          <img src="{{ .image_url }}" alt="{{ .image_alt }}">
      {{ end }}
    {{ end }}
   </div>
  </div>
  <!-- <div class="footprints--right">
    <img src="/uploads/footprints-1.jpg" alt="">
  </div> -->
</section>
