{{ define "main" }} 
{{ partialCached "home/home-hero" . }}
{{ partial "home/home-intro" . }}
{{ if .Params.our_facility_block.enabled }}
    {{ with .Params.our_facility_block }}
    <section aria-labelledby="{{ .heading | urlize }}" class="facility page-block bg-primary text-white">
        <div class="flex flex-column-reverse flex-row-m">
            <div class="facility__content w-100 w-50-m block flow text-block">
                <h2 id="{{ .heading | urlize }}">{{ .heading }}</h2>
                {{ .body | safeHTML }}
                <ul class="features no-padding">
                    {{ range .features }}
                    <li class="features__item mb-1 list-style-none flex flex-row flex-center">
                        
                        <p class="fs-100 ml-1">{{ .feature }}</p>
                    </li>
                    {{ end }}
                </ul>
                {{ if .button.enabled }}
                  <a href="{{ .button.button_url }}" class="btn btn--white" {{ if .button.open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button.button_text }}</a>
                {{ end }} 
            </div>
            <div class="facility__image w-100 w-50-m background-image">
                {{ if .image.enabled }}
                    {{ with .image }}
                        <img src="{{ .image_url }}" alt="{{ .image_alt }}">
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}
{{ if .Params.page_blocks }}
    {{ range .Params.page_blocks }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.gallery.enabled }}
    {{ with .Params.gallery }}
    <div class="block bg-white">
        <div class="wrapper-lg">
            {{ partial "generic/heading-centered" . }}
            <div class="gallery mt-4">
                {{ range .images }}
                <img src="{{ .image_url }}" alt="" class="gallery__image">
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
{{ if .Params.cta_block.enabled }}
    {{ with .Params.cta_block }}
        {{ partial "site-cta" . }}
    {{ end }}
{{ end }}
{{ end }}
