{{ define "main" }}
{{ partial "hero" (dict "Page" . "image"
.Params.hero.image.image_url "alt" .Params.hero.image.image_alt "heading"
.Params.hero.heading ) }}
{{ partial "intro" . }}
<div class="contact-content block bg-black-2">
  <div class="wrapper-lg">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form">
          <div class="contact-form__wrapper">
            {{ partialCached "contact-form" . }}
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m">
        {{ partialCached "contact-info" . }}
      </div>
    </div>
  </div>
</div>
{{ partial "site-cta" . }}
{{ end }}